@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", serif;
  font-size: 15px;
  line-height: normal;
}

.egg {
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #919db9;
}
